# Project - EDA with Pandas Using the Boston Housing Data

## Introduction

In this section you've learned a lot about importing, cleaning up, analyzing (using descriptive statistics) and visualizing data. In this more free form project you'll get a chance to practice all of these skills with the Boston Housing dataset, which contains housing values in the suburbs of Boston. The Boston housing data is commonly used by aspiring Data Scientists.

## Objectives

You will be able to:

* Perform a full exploratory data analysis process to gain insight about a dataset 

## Goals

Use your data munging and visualization skills to conduct an exploratory analysis of the dataset below. At a minimum, this should include:

* Loading the data (which is stored in the file `'train.csv'`) 
* Use built-in Python functions to explore measures of centrality and dispersion for at least 3 variables
* Create *meaningful* subsets of the data using selection operations like `.loc`, `.iloc`, or related operations.   Explain why you used the chosen subsets and do this for three possible 2-way splits. State how you think the two measures of centrality and/or dispersion might be different for each subset of the data. Examples of potential splits:
    - Create two new DataFrames based on your existing data, where one contains all the properties next to the Charles river, and the other one contains properties that aren't 
    - Create two new DataFrames based on a certain split for crime rate 
* Next, use histograms and scatter plots to see whether you observe differences for the subsets of the data. Make sure to use subplots so it is easy to compare the relationships.

## Variable Descriptions

This DataFrame contains the following columns:

- `crim`: per capita crime rate by town  
- `zn`: proportion of residential land zoned for lots over 25,000 sq.ft  
- `indus`: proportion of non-retail business acres per town   
- `chas`: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)  
- `nox`: nitrogen oxide concentration (parts per 10 million)   
- `rm`: average number of rooms per dwelling   
- `age`: proportion of owner-occupied units built prior to 1940  
- `dis`: weighted mean of distances to five Boston employment centers   
- `rad`: index of accessibility to radial highways   
- `tax`: full-value property-tax rate per \$10,000   
- `ptratio`: pupil-teacher ratio by town    
- `black`: 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town   
- `lstat`: lower status of the population (percent)   
- `medv`: median value of owner-occupied homes in $10000s 
  
    
Source
Harrison, D. and Rubinfeld, D.L. (1978) Hedonic prices and the demand for clean air. J. Environ. Economics and Management 5, 81â€“102.

Belsley D.A., Kuh, E. and Welsch, R.E. (1980) Regression Diagnostics. Identifying Influential Data and Sources of Collinearity. New York: Wiley.

In [1]:
import pandas as pd
df = pd.read_csv('train.csv')

In [2]:
df.head()

,ID,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [11]:
cols = ['chas', 'crim', 'rm', 'age', 'tax', 'black', 'lstat', 'medv']
df[cols].describe()

,chas,crim,rm,age,tax,black,lstat,medv
count,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000,333.000000
mean,0.060060,3.360341,6.265619,68.226426,409.279279,359.466096,12.515435,22.768769
std,0.237956,7.352272,0.703952,28.133344,170.841988,86.584567,7.067781,9.173468
min,0.000000,0.006320,3.561000,6.000000,188.000000,3.500000,1.730000,5.000000
25%,0.000000,0.078960,5.884000,45.400000,279.000000,376.730000,7.180000,17.400000
50%,0.000000,0.261690,6.202000,76.700000,330.000000,392.050000,10.970000,21.600000
75%,0.000000,3.678220,6.595000,93.800000,666.000000,396.240000,16.420000,25.000000
max,1.000000,73.534100,8.725000,100.000000,711.000000,396.900000,37.970000,50.000000

In [12]:
by_river = df[df['chas'] == 1]
not_by_river = by_river = df[df['chas'] == 0]

In [13]:
by_river[cols].describe()

,chas,crim,rm,age,tax,black,lstat,medv
count,313.0,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000,313.000000
mean,0.0,3.436787,6.245674,67.741534,410.220447,358.110511,12.604728,22.295527
std,0.0,7.544289,0.693026,28.400933,171.014186,88.984202,7.061663,8.746397
min,0.0,0.006320,3.561000,6.000000,188.000000,3.500000,1.730000,5.000000
25%,0.0,0.078750,5.879000,43.700000,281.000000,376.700000,7.220000,17.200000
50%,0.0,0.245220,6.185000,76.500000,330.000000,392.230000,11.220000,21.200000
75%,0.0,3.678220,6.563000,93.800000,666.000000,396.330000,16.440000,24.700000
max,0.0,73.534100,8.725000,100.000000,711.000000,396.900000,37.970000,50.000000

In [ ]:
not_by_river

- Use built-in Python functions to explore measures of centrality and dispersion for at least 3 variables
- Create meaningful subsets of the data using selection operations like .loc, .iloc, or related operations. 
- Explain why you used the chosen subsets and do this for three possible 2-way splits. 
- State how you think the two measures of centrality and/or dispersion might be different for each subset of the data. 
- Examples of potential splits:
    - Create two new DataFrames based on your existing data, where one contains all the properties next to the Charles river, and the other one contains properties that aren't
    - Create two new DataFrames based on a certain split for crime rate
- Next, use histograms and scatter plots to see whether you observe differences for the subsets of the data. Make sure to use subplots so it is easy to compare the relationships.

## Summary

Congratulations, you've completed your first "free form" exploratory data analysis of a popular dataset!